body {
  background: #333;
  font-family: Impact, Charcoal, sans-serif;
}
.container {
  width: 604px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
}

.square {
 
 display: inline-block;
 margin: 0;
 float: left;

}
.borderL {
  border-left: 1px solid #000;
}
.borderT {
  border-top: 1px solid #000;
}
.borderR {
  border-right: 1px solid #000;
}
.borderB {
  border-bottom: 1px solid #000;
}


#message {
  background: #fff;
  position: absolute;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 20px;
}
.button{
  padding: 5px;
  float: right;
  margin: 3px;
  width: 50px;
  color: #fff;
  background: #000;
  font-size: 100%;
  border: solid 2px #000; 
  transition: all .5s;
  border-radius: 3px;
}
.button:hover{
  background: #fff;
  color: #000;
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}